/*
  ################
    Общие стили для всех страниц
  ################
*/

* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: var(--black);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
  * > img { user-select: none }

#app {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#auth {
  width: 100%;
  max-width: 1370px;
  padding: 0 15px;
}

.main_wrapper,
.log,
.input,
select,
.button,
.chart,
.tools > div,
.filters,
.staff > .employee,
.pagination_item,
.checkbox,
.sort_icon,
aside .active,
.container,
.count { transition: background-color .3s }

h3,
label,
.log_item,
h4,
.employee_activity > div > span,
.employee_activity > div > p,
.link,
.tool_switch_item,
.name,
.position,
.form > p,
.text_logo,
.mark > span,
.text_logo span,
.pagination_item,
.fields > .field_wrapper > label,
footer,
span.tip,
span.tip b,
.select label { transition: color .3s }

.app_wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  overflow: hidden;
  background-color: var(--yellow);
  grid-template-columns: 1fr 50px;
}

.heading {
  margin-bottom: 20px;
  justify-content: space-between;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

.main_wrapper {
  overflow: hidden;
  position: relative;
  background-color: #F4F6FB;
  justify-content: center;
}
main {
  height: 100%;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  z-index: 2;
}

.is_menu_not_active { grid-template-columns: 1fr !important }
  .is_menu_not_active aside { display: none }

.text_logo {
  border: none;
  cursor: default;
  font-size: 36px;
  font-weight: 700;
  user-select: none;
  letter-spacing: 2px;
  color: var(--accent);
  text-decoration: none;
  text-shadow: 2px 2px black;
}
  .text_logo span { color: var(--accent) }

.field.input_box > img {
  left: 10px;
  z-index: 2;
  width: 20px;
  opacity: .5;
  position: absolute;
}
.field > input[type=text],
.field > input[type=password],
.field > input[type=date],
.field > select {
  height: 35px;
  width: inherit;
  padding: 5px 5px 5px 40px;
}
.field {
  width: 100%;
  position: relative;
}

@keyframes change1 {
  from { height: 0; width: 0; }
  to { width: 250vh; height: 250vh; }
}
@keyframes change2 {
  from { width: 250vh; height: 250vh; }
  to { height: 0; width: 0; }
}

.flex {
  display: flex;
  align-items: center;
}

.pointer { cursor: pointer }

.button {
  border: none;
  border-radius: 5px;
  background-color: var(--accent);
}

.shadow { box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) }

.input {
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.logo_wrapper > a { line-height: 0 }

/*
 * == Кнопка ==========
 */

.btns { margin-left: 15px }
  .btns > .btn:first-child { margin-right: 5px }
  .btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    justify-content: center;
  }
    .btn > .btn_img {
      z-index: 2;
      opacity: .7;
      transition: .3s;
    }
    .btn::after {
      z-index: 1;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      transform: scale(0);
      border-radius: inherit;
      background: var(--accent);
      transition: .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    .btn_active > .btn_img { opacity: 1 }
    .btn_active::after { transform: scale(1) }

@media (hover: hover) {
  .btn:hover img { opacity: 1 }
  .btn:hover::after { transform: scale(1) }
}