/*
  ################
    Стили для страницы /logs
  ################
*/

/*
 * == Записи ==========
 */

.logs {
  margin-top: 20px;
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  display: grid;
  gap: 20px;
}

/*
 * == Пагинация ==========
 */

.pagination {
  margin-top: 20px;
  justify-content: center;
}
  .pagination > * { margin-right: 10px; }
  .pagination > *:last-child { margin-right: 0; }
  .pagination_item {
    min-width: 25px;
    min-height: 30px;
    font-weight: 700;
    padding: 8px 5px;
    border-radius: 3px;
    justify-content: center;
    background-color: white;
  }
  .pagination_item_active {
    background-color: var(--accent);
  }

/* #staff_filters { grid-template-columns: repeat(3, 1fr); } */
